@using bdis_meistrija.Client.Entities;
@using bdis_meistrija.Client.Shared.DefectTable.components;


<table class="table-bordered table-striped">
    <thead>
        <TableHead />
    </thead>
    <tbody>
        @foreach (Defect defect in defects)
        {
            <TableRow defect="defect" />
        }
    </tbody>
</table>


@code {
    [Parameter] public List<Defect> defects { set; get; }

}


