<th><button type="button" style="width: 100%; display: block" class="btn btn-light">@Caption</button></th>

@code {
    [Parameter] public string Caption { set; get; }
    [Parameter] public string DataType { set; get; }
}